/* General order for these classes: 
i. Body classes 
ii. General classes 
iii. More specific classes */
img, embed, object, video{
	max-width: 100%;
	margin: auto;
}

body{
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

/*footer{
	display: none;
}*/

.container{
	max-width: 1500px;	
}

hr{
	border: none;
	height: 3px;
	background-color: #BCBBBB;
}

.title-super{
	font-size: 45px;
}

.title-logo{
	margin-top: 15px;
	/*width: calc((100%-120px)/2;
	margin-left: 120px;
	margin-right: 120px;*/
}

.text-muted{
	font-size: 25px;
	color:#7d97ad;
}

.text-thin{
	font-weight: 100;
}

.col-md-6{
	width: 100%;
	margin: auto;
}

/*.footer{
	display: none;
}
I like this, but rubric says all content on all viewports, so 
					im removing it for the grading and then will use this template later and put it bac
*/
#logodiv, #titlediv{
	text-align: center;
}