/* General order for these classes: 
i. Body classes 
ii. General classes 
iii. More specific classes */

body{
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

hr{
	border: none;
	height: 3px;
	background-color: #BCBBBB;
}
.title-super{
	font-size: 60px;
}
.title-logo{
	margin-top: 15px;
}

.text-muted{
	color:#BCBBBB;
}

.text-thin{
	font-weight: 100;
}
